@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
} 
.container{
    max-width: 1250px !important;
}
.search-input {
    border-radius: 25px 0 0 25px !important;
    box-shadow: none !important;
    outline: none !important;
}
.search-input:focus {
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}
.search-btn {
    border-radius: 0 25px 25px 0 !important;
}
.shopping-cards-container-inner{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}
.product-card .img img{
    width:100%;
}
.product-card .img{
    object-fit: cover;
}
.product-card{
    padding-bottom:10px;
   
}
.cart{
   padding:10px;
   border:2px solid black;
   background-color: white;
   transition: 0.3s ease-in-out;
}
.cart:hover{
    background:black;
    color:white;
}
.card-btns{
    justify-content: space-between;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap:5px;
    background: white;
}
